<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <script src="/static/jquery-3.6.0.min.js"></script>

    <script>
        var lastVersion;

        function getNote() {
            $.get('/notes-content?note={{.NoteURLEnc}}')
                .then(
                    function (data) {
                        document.getElementById('textnote').value = data;
                    }
                )
                .fail(HandleFail);
        }


        function doSendData(callback) {
            $.post('/notes-content?note={{.NoteURLEnc}}', document.getElementById('textnote').value)
                .then(data => lastVersion = new Date(data))
                .fail(HandleFail);
        }
        var pendingClick;
        function sendDataDelayed() {
            clearTimeout(pendingClick);
            pendingClick = setTimeout(doSendData, 500);
        }


        checkTimestamp();
        var intervalId = window.setInterval(checkTimestamp, 5000);
        function checkTimestamp() {
            $.get('/notes-content/timestamp?note={{.NoteURLEnc}}')
                .then(function (timestamp) {
                    let date = new Date(timestamp);
                    if (lastVersion === undefined || (timestamp != '' && date > lastVersion)) {
                        lastVersion = date
                        getNote();
                    }
                })
                .fail(HandleFail);
        }

        function HandleFail(err) {
            $('#error').show(400).text("Error: " + err.responseJSON);
            setTimeout(()=>{$('#error').hide(400)}, 3000);
        }
    </script>
    <link rel="stylesheet" href="/static/notes.css">
</head>

<body>
    <div id="error" style="display: none;"></div>
    <textarea class="note" name="textnote" id="textnote" onkeyup="sendDataDelayed()"></textarea>
</body>

</html>